*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
section{
    background-image: radial-gradient( circle farthest-corner at 50.3% 47.3%,  rgba(113,42,92,1) 0.1%, rgba(40,25,46,1) 90% );
}
#container-secao{
    display: flex;
    justify-content: center;
}

#container-semaforo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    width: 130px;
    height: 250px;
    margin: 30px;
    gap: 10px;

    background: #000000;
    background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(51, 50, 50, 1) 11%, rgba(66, 66, 66, 1) 22%, rgba(84, 84, 84, 1) 62%, rgba(43, 43, 43, 1) 92%, rgba(0, 0, 0, 1) 98%, rgba(0, 0, 0, 1) 100%);
    box-shadow:0px 0px 10px rgb(0, 0, 0);

    border: 2px solid rgba(0, 0, 0, 1) 98%;
    border-radius: 5%;
}

#vermelho{
    width: 68px;
    height: 68px;

    background: #780000;
    background: radial-gradient(circle, rgba(120, 0, 0, 1) 0%, rgba(92, 0, 0, 1) 32%, rgba(31, 0, 0, 1) 100%);

    border: 10px solif rgb(145, 16, 16);
    border-radius: 50%;
}

#amarelo{
    width: 68px;
    height: 68px;

    background: #999e00;
    background: radial-gradient(circle, rgba(153, 158, 0, 1) 29%, rgba(82, 78, 0, 1) 72%, rgba(54, 54, 0, 1) 100%);

    border: 1.5px solid rgba(82, 78, 0, 1);
    border-radius: 50%;
}

#verde{
    width: 68px;
    height: 68px;

    background: #008702;
    background: radial-gradient(circle, rgba(0, 135, 2, 1) 31%, rgba(10, 46, 0, 1) 79%, rgba(1, 36, 0, 1) 100%);

    border: 1.5px solid rgba(10, 46, 0, 1) 79%;
    border-radius: 50%;
}

#botoes-cores{
    display: flex;
    justify-content: center;
}


#botao-vermelho{
    background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
    border:1px solid rgb(145, 16, 16);
}
#botao-vermelho:hover{
    box-shadow: 0px 0px 10px rgb(255, 30, 30);
    background: #db0000;
    background: linear-gradient(272deg, rgba(219, 0, 0, 1) 0%, rgba(140, 0, 0, 1) 50%, rgba(230, 0, 0, 1) 100%);
}


#botao-amarelo{
    background-image: linear-gradient( 89.5deg,  rgba(184,189,0,1) 14.3%, rgba(255,237,24,1) 48.7%, rgba(194,190,0,1) 86.3% );
    border: 1px solid rgb(138, 138, 13);;
}
#botao-amarelo:hover{
    box-shadow: 0px 0px 10px rgb(247, 247, 39);
    background: #a6a000;
    background: linear-gradient(272deg, rgba(166, 160, 0, 1) 0%, rgba(222, 192, 0, 1) 50%, rgba(173, 156, 0, 1) 100%);
}


#botao-verde{
    background-image: linear-gradient( 90.8deg,  rgba(26,148,0,1) 2.7%, rgba(87,255,15,1) 50.9%, rgba(43,143,0,1) 102.3% );
    border: 1px solid rgb(28, 145, 37);

}
#botao-verde:hover{
    box-shadow: 0px 0px 10px rgb(4, 255, 4);
    background: #0e8700;
    background: linear-gradient(272deg, rgba(14, 135, 0, 1) 0%, rgba(38, 230, 0, 1) 50%, rgba(0, 122, 0, 1) 100%);
}


#botoes-tempo{
    display: flex;
    justify-content: center;
}
#botao-iniciar{
    background-image: linear-gradient( 91.4deg,  rgba(39,39,39,1) -13.5%, rgba(36,36,36,1) 1.8%, rgba(0,0,0,1) 40.5%, rgba(36,36,36,1) 85%, rgba(24,24,24,1) 94.4% );
}
#botao-iniciar:hover{
    box-shadow: 0px 0px 10px rgba(196, 196, 196, 0.993);
    background: #6b6464;
    background: linear-gradient(272deg, rgba(107, 100, 100, 1) 0%, rgba(59, 59, 59, 1) 11%, rgba(0, 0, 0, 1) 50%, rgba(43, 43, 43, 1) 91%, rgba(94, 94, 94, 1) 100%);
}

#botao-parar{
    background-image: linear-gradient( 91.4deg,  rgba(39,39,39,1) -13.5%, rgba(36,36,36,1) 1.8%, rgba(0,0,0,1) 40.5%, rgba(36,36,36,1) 85%, rgba(24,24,24,1) 94.4% );
}
#botao-parar:hover{
    box-shadow: 0px 0px 10px rgba(196, 196, 196, 0.993);
    background: #6b6464;
    background: linear-gradient(272deg, rgba(107, 100, 100, 1) 0%, rgba(59, 59, 59, 1) 11%, rgba(0, 0, 0, 1) 50%, rgba(43, 43, 43, 1) 91%, rgba(94, 94, 94, 1) 100%);
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    margin: 50px;
    width: 110px;
    height: 70px;
    border: 1px solid black;
    border-radius: 100%;
    font-size: 20px;
    color: white;
}

@media screen and (max-width: 720px) {

    section{
        width: 720px;
        height: 1580px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    #botao-vermelho:active{
    box-shadow: 0px 0px 10px rgb(255, 30, 30);
    background: #db0000;
    background: linear-gradient(272deg, rgba(219, 0, 0, 1) 0%, rgba(140, 0, 0, 1) 50%, rgba(230, 0, 0, 1) 100%);
    }
    #botao-amarelo:active{
    box-shadow: 0px 0px 10px rgb(247, 247, 39);
    background: #a6a000;
    background: linear-gradient(272deg, rgba(166, 160, 0, 1) 0%, rgba(222, 192, 0, 1) 50%, rgba(173, 156, 0, 1) 100%);
    }   
    #botao-verde:active{
    box-shadow: 0px 0px 10px rgb(4, 255, 4);
    background: #0e8700;
    background: linear-gradient(272deg, rgba(14, 135, 0, 1) 0%, rgba(38, 230, 0, 1) 50%, rgba(0, 122, 0, 1) 100%);
    }
    #botao-iniciar:active{
    box-shadow: 0px 0px 10px rgba(196, 196, 196, 0.993);
    background: #6b6464;
    background: linear-gradient(272deg, rgba(107, 100, 100, 1) 0%, rgba(59, 59, 59, 1) 11%, rgba(0, 0, 0, 1) 50%, rgba(43, 43, 43, 1) 91%, rgba(94, 94, 94, 1) 100%);
    }
    #botao-parar:hover{
    box-shadow: 0px 0px 10px rgba(196, 196, 196, 0.993);
    background: #6b6464;
    background: linear-gradient(272deg, rgba(107, 100, 100, 1) 0%, rgba(59, 59, 59, 1) 11%, rgba(0, 0, 0, 1) 50%, rgba(43, 43, 43, 1) 91%, rgba(94, 94, 94, 1) 100%);
}


}
